---
// Import des articles de blog
const posts = await Astro.glob("./**/*.md");
const titre = "Poetry done wrong - blog page";
const description = "The blog page of the Poetry done wrong website";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>{titre}</title>
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>{titre}</h1>
      <nav>
        <!-- Liens de navigation ici -->
        <a href="/">Accueil</a>
      </nav>
    </header>
    <main>
      <section>
        <h2>Articles Récents</h2>
        <ul>
          {
            posts.map((post) => (
              <li key={post.url}>
                <a href={post.url}>
                  <h3>{post.frontmatter.title}</h3>
                  <p>Publié le {post.frontmatter.date}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <footer>
      <!-- Pied de page ici -->
      © 2024 NK
    </footer>
  </body>
</html>
